<a href="/restaurants">Restaurants</a>

{{#unless restaurant}}
<h2>That restaurant couldn't be found!</h2>
{{else}}
<h2>{{restaurant.name}}</h2>
<form method="post" action="/restaurants/{{restaurant.name}}/delete">
  <button type="submit">This place sucks!</button>
</form>

<br><br>
<form action="/restaurants/{{restaurant.name}}" method="post">
  <input type="text" name="restaurant[name]" placeholder="Name" value="{{restaurant.name}}" /><br>
  <input type="text" name="restaurant[address][street]" placeholder="Street Address" value="{{restaurant.address.street}}" /><br>
  <input type="text" name="restaurant[address][zipcode]" placeholder="Zipcode" value="{{restaurant.address.zipcode}}" /><br>
  <input type="text" name="restaurant[yelpUrl]" placeholder="Yelp Url" value="{{restaurant.yelpUrl}}" /><br>
  <button type="submit">Edit Restaurant</button>
</form>
{{/unless}}
